<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
	
<head th:replace="~{fragmentos :: conteudo-header('Cadastro de Pessoa')}" />
  
  
  
  <body>
    <div class="container">
        <div class="row">
            <h1 th:text="#{cadastrar_pessoa}">Lista</h1>
        </div>
        <div class="row">
            <form th:object="${pessoa}" action="/insere_pessoa" method="post">
            <span th:text="#{nome}">Nome</span> <input class="form-control" type="text" th:field="*{nome}" th:errorclass="is-invalid"> 
            <div class="invalid-feedback" th:errors="*{nome}"></div><br>
            <span th:text="#{idade}">Idade</span> <input class="form-control" type="number" th:field="*{idade}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{idade}"></div><br> 
            CPF <input class="form-control" type="text" th:field="*{cpf}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{cpf}"></div><br>
            <span th:text="#{pais_origem}">País Origem</span> 
            <select class="form-select" th:field="*{pais_origem}">
				<option th:each="pais : ${lista_pais_origem}" 
						th:value="${pais}" 
						th:with="pais_chave = 'opcoespaises.' + ${pais.name().toLowerCase()}"
						th:text="#{${pais_chave}}"  />
			</select>
            <br>
            <button type="submit"><span th:text="#{cadastrar_pessoa}">Enviar</span></button>
            </form>
        </div>
        <div class="row">
            <a href="/index1"><span th:text="#{msg_retorno_lista_discente}"></span></a>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>